@import url('https://fonts.googleapis.com/css2?family=Poppons&display=swap');

:root {
    --color-little-princess: #E9DCE5;
    --color-sunset-purple: #A865B5;
    --color-luxury-purple: #743089;
    --color-matte-purple: #392A48;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-little-princess);
    font-family: 'Poppons', 'sans-serif';
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 3rem;
}

.add {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: var(--color-luxury-purple);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.note {
    background-color: white;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    height: 400px;
    width: 400px;
}

.note .tools {
    background-color: var(--color-matte-purple);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
    padding: 1rem;
}

.main {
    padding: 1rem;
}

.hidden {
    display: none;
}