@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-little-princess: #E9DCE5;
    --color-sunset-purple: #A865B5;
    --color-luxury-purple: #743089;
    --color-matte-purple: #392A48;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}