@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --color-little-princess: #E9DCE5;
    --color-sunset-purple: #A865B5;
    --color-luxury-purple: #743089;
    --color-matte-purple: #392A48;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-luxury-purple);
    font-family: 'Poppins', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: var(--color-little-princess);
    color: var(--color-matte-purple);
    font-family: inherit;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    z-index: 100;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

#toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: var(--color-little-princess);
    color: var(--color-matte-purple);
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
    transition: all 0.5s ease-in-out;
    font-size: medium;
    font-weight: bold;
}